/* to ensure border-box applies to all elements */
*,
*::before,
*::after {
   box-sizing: border-box;
}

/* apply to all elements */
* {
   /*use this to outline all boxes on a page*/
   /* outline: 1px solid red;  */
   margin: 0;
   padding: 0;
}

body {
   background-color: rgb(164, 186, 207);
   /* background-color: rgb(166, 174, 182); */
}

h1 {
   display: flex;
   background-color: rgb(179, 196, 201);
   /* background-color: rgb(164, 186, 207); */
   color: rgb(60, 75, 82);
   text-align: center;
   font-weight: bolder;
}

h1.construction {
   height: 60px;
   color: yellow;
   justify-content: center;
   align-items: center;
   /* padding-bottom: 0; */
}

/* navbar with dropdown menu for recipe pages */
.recipes-button {
   background-color: hwb(209 17% 57%);
   color: rgb(60, 75, 82);
   padding: 16px;
   font-weight: bolder;
   font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
   border: none;
}

.dropdown-recipes {
   position: relative;
   display: inline-block;
}

.recipes-content {
   display: none;
   position: absolute;
   background-color: rgb(44, 78, 110);
   min-width: 110px;
   z-index: 1;
}

nav {
   background-color: #017575;
   display: flex;
}

.links,
.links-hidden {
   display: inline-block;
   color: rgb(255, 255, 255);
   padding: 8px 12px;
   text-decoration: none;
   font-size: 12px;
}
.links-hidden {
   display: block;
}
.links {
   display: inline-block;
}

.links-hidden:hover,
.links:hover {
   transform: scale(1.2);
   cursor: wait;

}

.dropdown-recipes:hover .recipes-content {
   display: block;
}

/* older css needing revision */
.display {
   display: flex;
   justify-content: center;
}

.display img {
   height: 350px;
   width: 400px;
}

.description {
   background-color: rgb(179, 196, 201);
}

#description {
   display: block;
   justify-content: auto;
   align-items: center;
   height: 125px;
   width: 800px;
   margin: auto;
   padding-top: 10px;
}

#description p {
   color: rgb(30, 34, 31);
   justify-content: center;
   height: 60px;
   width: 450px;
   margin: 10px auto;
}

#description h3 {
   color: rgb(30, 34, 31);
   width: 350px;
   margin: 5px auto;
}

h3 {
  display: flex;
  justify-content: center;
  height: 22px;
}

.ingredients, .steps {
   display: flex;
   justify-content: center;
}

#ingredients {
   display: block;
   list-style: none;
   padding: 10px auto;
   color: rgb(34, 36, 36);
}

#ingredients-list {
   list-style-type: none;
}

.steps {
   background-color: rgb(179, 196, 201);
   color: rgb(30, 34, 31);
   width: 30%vw;
}

/*this is the home page image container*/
.chef-odin-container {
   display: flex;
   justify-content: center;
}

#chef-odin-img {
   height: 6oopx;
   width: 450px;
}

footer {
   padding: 0 auto;
   border-top: solid black 1px;
   text-align: right;
   font-size: 8px;
}

.construction {
   font-size: 32px;
   scrollbar-highlight-color: yellow;
}